@font-face {
    font-family: Edensor;
    src: url(../fonts/edensor/Edensor-FREE.otf);
}
@font-face {
    font-family: Stagera;
    src: url(../fonts/stagera/Stagera.otf);
}
@font-face {
    font-family: Chillen;
    src: url(../fonts/chillen/Chillen.ttf);
}
